blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,img,input,li,ol,p,textarea,ul{
  margin:0;padding:0;border:0
}
em {font-size: 16px;}

body {
    background-color: white;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 10s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {background-color: #1A1A1C; color:white;}
    to {background-color: white; color:#1A1A1C;}
}

/* Standard syntax */
@keyframes example {
    from {background-color: #1A1A1C;color:white;}
    to {background-color: white; color:#1A1A1C;}
}
#btnDrawCard {
	width: 140px;
	height: 20px;
	border:1px solid black;
	background-color: white;
	font-style: italic;
	font-family: Consolas;
	position: absolute;
	top: 10px;
}
#btnDrawPots {
	width: 140px;
	height: 20px;
	border:1px solid black;
	background-color: white;
	font-style: italic;
	font-family: Consolas;
	position: absolute;
	top: 10px; left: 150px;
}